// color
$primary: #ff4900;
$secondary: #ffb822;
$bg-primary: #242424;
$bg-secondary: #3c3c3c;
$text-primary: #fff;
$text-secondary: #242424;

// font-size
$h1-mobile: 4.5rem;
$h1-desktop: 6rem;
$h2-mobile: 3.5rem;
$h2-desktop: 5rem;
$h3-mobile: 3rem;
$h3-desktop: 4rem;
$h4-mobile: 2.5rem;
$h4-desktop: 3rem;
$h5-mobile: 1.8rem;
$h5-desktop: 2rem;
$h6-mobile: 1.4rem;
$h6-desktop: 1.2rem;
$p-mobile: 1.4rem;
$p-desktop: 1.6rem;

// transition
@mixin transition($property, $duration: 0.3s, $timing-function: ease) {
  transition: $property $duration $timing-function;
}

// flex
@mixin flex($direction: row, $gap: 0, $justify: normal, $align: normal) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify;
  align-items: $align;
}
