.container {
  font-family: "Khand", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  background-color: #ce4760;
  color: #fff;
  padding: 0.5rem 2rem;
  max-width: fit-content;
  text-decoration: none;
  &:focus {
    text-decoration: none;
  }
}
