@import "variables";

.container {
  position: relative;
  width: 28rem;
  margin-top: 5rem;
  padding: 7rem 2rem 4rem 2rem;
  @include flex(column, 5rem);
  border-radius: 0.5rem;
  background-color: $bg-secondary;
  align-items: center;
}

.logo {
  position: absolute;
  top: -5rem;
  left: 2rem;
  &__img {
    width: 10rem;
    height: 10rem;
  }
}

.content {
  @include flex(column, 1rem);
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}
