.container {
  display: flex;
}

.content {
  position: inherit;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex: 2;
  z-index: 2;
}

.title,
.subtitle,
.link__url,
.description {
  color: #fff;
}

.subtitle,
.link__url,
.description {
  font-size: 1.2rem;
}

.link {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  &__logo {
    flex: 0 0 30px;
  }
  &__url {
    font-style: italic;
    word-break: break-all;
  }
}

.logo {
  position: relative;
  display: flex;
  flex: 1;
  img {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 15rem;
    max-width: max-content;
  }
}
