@import "breakpoints";
@import "variables";

.presentation,
.projects,
.parcours,
.skills {
  width: 100%;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 7.3rem 2rem 4rem;
  background-color: $bg-primary;
  height: 100vh;
}

.primary {
  color: $primary;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $bg-secondary;
  position: relative;
  padding: 2rem 0;
}

.experiences {
  background-color: $bg-primary;
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  &__content {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
      display: none;
    }
    @include media-breakpoint-up($breakpoint-md) {
      justify-content: center;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    scroll-snap-align: start;
    @include media-breakpoint-up($breakpoint-md) {
      flex: 0 0 28rem;
    }
  }
}

.skills {
  background-color: $bg-secondary;
  padding: 2rem 2rem 4rem;
  &__title {
    margin-bottom: 2rem;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
    background-color: $bg-primary;
    max-width: 90rem;
    margin: auto;
  }
}

.contact {
  background-color: $bg-primary;
  padding: 2rem 2rem 4rem;
  &__title {
    margin-bottom: 2rem;
  }
}
