@import "breakpoints";

.main {
  width: 100vw;
  min-height: 100vh;
  padding-top: 3.4rem;
}

.presentation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}

.name {
  color: #ce4760;
}

.projects {
  &__container {
    width: 100%;
    @include media-breakpoint-up($breakpoint-sm) {
      padding: 2rem;
    }
  }
}

.open {
  opacity: 1;
}
