@import "breakpoints";

.main {
  min-height: 100vh;
}

.title {
  font-size: 4rem;
}

.projects {
  &__container {
    width: 100vw;
    @include media-breakpoint-up($breakpoint-sm) {
      padding: 0 2rem;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0;
    @include media-breakpoint-up($breakpoint-sm) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    @include media-breakpoint-up($breakpoint-lg) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
}
