@import "variables";
@import "breakpoints";

.container {
  @include flex(row, 0, center, center);
  @include transition(all, 0.4s);
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.content {
  @include flex(column, 2rem, center);
  position: relative;
  background-color: $bg-primary;
  padding: 2rem;
  min-width: 24rem;
  min-height: 24rem;
  max-width: calc(100vw - 4rem);
  max-height: calc(100vh - 4rem);
  &__text {
    @include flex(column, 1rem);
  }
  &__img {
    @include flex(row, 2rem, center);
    flex-wrap: wrap;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: #cacaca;
    }
  }
  @include media-breakpoint-up($breakpoint-md) {
    max-width: 60rem;
  }
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 100%;
  cursor: pointer;
}

.link {
  font-style: italic;
  text-decoration: underline;
  word-break: break-all;
}

.img {
  max-width: 100%;
  max-height: 60rem;
  object-fit: contain;
}
