@import "breakpoints";
@import "variables";

.container {
  @include flex(column, 1rem, center, center);
  flex: 0 0 12rem;
  @include media-breakpoint-up($breakpoint-md) {
    flex: 0 0 20rem;
    flex-direction: row;
  }
  &__name {
    color: #fff;
  }
}
